@media screen and (min-width: 769px) and (max-width: 920px) {
    .container{
        max-width: 100vw;
        padding: 100px 0 50px 0;
    }

    p{
        line-height: 33px;
    }

    p, a, button{
        font-size: 22px;
    }

    .container h1{
        margin: 20px auto;
        font-size: 50px;
        text-align: center;
    }
    
    .swentorme{
        flex-direction: column;
        align-items: center;
    }

    .image_swentorme{
        width: 60%;
    }

    .description_swentorme{
        padding: 0px;
        width: 60%;
        margin-top: 30px;
    }

    .description_swentorme p{
        margin-bottom: 40px;
    }

    .golould, .youser, .appece, .therin, .havine, .goomers{
        margin-top: 30px;
        width: 60%;
        margin: 30px auto;
    }

    .imagem_golould, .imagem_golould, .imagem_youser, .imagem_appece, .imagem_therin, .imagem_havine, .imagem_goomers{
        margin-top: 30px;
        width: 100%;
    }

    .golould p, .youser p, .appece p, .therin p, .havine p, .goomers p{
        margin-top: 14px;
    }

    /* footer */
    .footer{
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .footer .left{
        margin: 10px;
    }

    .footer .right{
        margin: 10px;
    }
    /* footer */
}